<a class="card-box {is_large_attr}" target="_blank" href="{expanded_url}">
    <div class="card-box-left" style="background-image: url({image_url});">
        <img src="{image_url}" alt="">
    </div>
    <div class="card-box-right">
        <div class="card-text-container">
            <span class="card-domain">{domain}</span>
            <span class="card-title">{title}</span>
            <span class="card-description" data-description="{description}">{description}</span>
        </div>
    </div>
</a>