<div class="row tweet-row" next-tweet-id="{next_tweet_id}">
    {tweet_pinned_header_component} {tweet_header_component}
    <!-- tweet-body -->
    <div class="flex-container tweet-body">
        <div class="left-container">
            <div class="image-container">
                <img src="{profile_avatar_url}" alt="" />
            </div>
            <div class="tweet-link-line"></div>
        </div>
        <div class="right-container">
            <div class="author-row">
                <span class="author-name">{author_name}</span>
                <span class="verified-container {author_is_verified}">
                    <svg viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z">
                            </path>
                        </g>
                    </svg>
                </span>
                <a class="author-screen-name" target="_blank"
                    href="https://twitter.com/{author_screen_name}">@{author_screen_name}</a>
                <span class="dot-span">·</span>
                <span class="created_at">{tweet_created_at}</span>
            </div>
            <div class="text-row">{tweet_rich_full_text}</div>
            <div class="card-row">{tweet_card_components}</div>
            {tweet_poll_component}
            <div class="media-row">
                <!-- 图像 -->
                <div class="media-photos-container photo-count-{tweet_photo_count}">
                    {tweet_photos}
                </div>
                <!-- 视频 -->
                <div class="media-videos-container video-count-{tweet_video_count}">
                    {tweet_videos}
                </div>
            </div>
            <div class="footer-row">
                <!-- 评论数 -->
                <div class="footer-elem" title="comment-count">
                    <svg viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z">
                            </path>
                        </g>
                    </svg>
                    <span>{tweet_comment_count}</span>
                </div>
                <!-- 转发数 -->
                <div class="footer-elem" title="retweet-count">
                    <svg viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z">
                            </path>
                        </g>
                    </svg>
                    <span>{tweet_retweet_count}</span>
                </div>
                <!-- 喜爱数 -->
                <div class="footer-elem" title="like-count">
                    <svg viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z">
                            </path>
                        </g>
                    </svg>
                    <span>{tweet_like_count}</span>
                </div>

                <!-- 浏览数 -->
                <div class="footer-elem" title="view-count">
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <path d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z">
                            </path>
                        </g>
                    </svg>
                    <span>{tweet_view_count}</span>
                </div>

                <!-- 分享按钮 -->
                <div class="footer-elem" title="share-button">
                    <a class="share-button-link" href="{tweet_expanded_url}" target="_blank">
                        <div class="share-button-div"></div>
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path
                                    d="M12 2.59l5.7 5.7-1.41 1.42L13 6.41V16h-2V6.41l-3.3 3.3-1.41-1.42L12 2.59zM21 15l-.02 3.51c0 1.38-1.12 2.49-2.5 2.49H5.5C4.11 21 3 19.88 3 18.5V15h2v3.5c0 .28.22.5.5.5h12.98c.28 0 .5-.22.5-.5L19 15h2z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- /tweet-正文 -->
</div>