:root {
    --font-gray: rgb(83, 100, 113);
    --font-black: rgb(15, 20, 25);
    --border-gray: #f0f3f4;
    --link-blue: rgb(29, 155, 240);
    --tweet-link-line-gray: rgb(207, 217, 222);
    /* hover */
    --hover-blue: rgb(40, 144, 215);
    --hover-green: rgb(3, 183, 124);
    --hover-red: rgb(221, 37, 126);
    /* poll */
    --poll-blue-background: rgba(29, 155, 240, 0.58);
    --poll-gray-background: rgb(207, 217, 222);
    /* font */
    --twitter-font: TwitterChirp;
}

@font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url(../fonts/chirp-extended-heavy-web.woff2) format("woff2");
    src: url(../fonts/chirp-extended-heavy-web.woff) format("woff");
    font-weight: 800;
    font-style: "normal";
    font-display: "swap";
}

@font-face {
    font-family: TwitterChirp;
    src: url(../fonts/chirp-regular-web.woff2) format("woff2");
    src: url(../fonts/chirp-regular-web.woff) format("woff");
    font-weight: 400;
    font-style: "normal";
    font-display: "swap";
}

@font-face {
    font-family: TwitterChirp;
    src: url(../fonts/chirp-medium-web.woff2) format("woff2");
    src: url(../fonts/chirp-medium-web.woff) format("woff");
    font-weight: 500;
    font-style: "normal";
    font-display: "swap";
}

@font-face {
    font-family: TwitterChirp;
    src: url(../fonts/chirp-bold-web.woff2) format("woff2");
    src: url(../fonts/chirp-bold-web.woff) format("woff");
    font-weight: 700;
    font-style: "normal";
    font-display: "swap";
}

@font-face {
    font-family: TwitterChirp;
    src: url(../fonts/chirp-heavy-web.woff2) format("woff2");
    src: url(../fonts/chirp-heavy-web.woff) format("woff");
    font-weight: 800;
    font-style: "normal";
    font-display: "swap";
}


/* 基本样式 */

html,
body {
    margin: 0;
}

#root {
    border: solid 1px var(--border-gray);
    border-top: none;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 300px;
}

#root .row.profile-row {
    width: calc(100% - 32px);
}

@media screen and (max-width: 768px) {
    html,
    body,
    #root,
    #root>* {
        width: calc(100% - 1px);
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    #root {
        width: calc(70% - 1px);
        margin: 0 auto;
    }
}

span,
.text-row {
    font-family: var(--twitter-font);
    font-size: 15px;
    line-height: 12px;
    font-weight: 400;
    color: var(--font-gray);
}

a,
span.tag {
    display: inline;
    font-family: var(--twitter-font);
    color: var(--link-blue);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
}

span.tag:hover,
a:hover {
    text-decoration: underline;
}


/* banner */

div.row.profile-banner-row {
    min-height: 150px;
    background-color: #d1d9de;
}

div.row.profile-banner-row img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

@media screen and (max-width: 768px) {
    div.row.profile-banner-row {
        min-height: 120px;
    }
}


/* avatar */

div.avatar-row {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

div.avatar-container {
    width: 200px;
    height: 200px;
    padding: 0;
    padding-left: 16px;
}

div.avatar-circle-wrap {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

div.avatar-circle-wrap img {
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    border-radius: 50%;
    transform: translateX(6px) translateY(6px);
}

@media screen and (max-width: 768px) {
    div.avatar-row {
        position: relative;
        top: -60px;
        margin-bottom: -60px;
    }
    div.avatar-container {
        width: 120px;
        height: 120px;
        padding: 0;
        padding-left: 16px;
    }
    div.avatar-circle-wrap img {
        height: calc(100% - 8px);
        width: calc(100% - 8px);
        transform: translateX(4px) translateY(4px);
    }
}


/* profile: 全局 */

div.row.profile-row {
    padding: 12px 16px;
}

div.row.profile-row>div {
    margin: 4px 0 12px 0;
}


/* profile: name */

div.row.profile-row div.name span {
    font-size: 20px;
    font-weight: 800;
    color: var(--font-black);
}

div.row.profile-row div.name {
    margin-bottom: 0;
}


/* profile: description */

div.row.profile-row div.description span {
    color: var(--font-black);
}


/* profile: location */

div.row.profile-row div.location-and-join-date>* {
    display: inline;
}

div.row.profile-row div.location-and-join-date svg {
    margin-right: 4px;
    width: 1.25em;
    height: 1.25em;
    line-height: 12px;
    vertical-align: text-bottom;
    position: relative;
    fill: var(--font-gray);
}

div.row.profile-row div.location-and-join-date a,
div.row.profile-row div.location-and-join-date span {
    margin-right: 12px;
}


/* profile: follow-status */

div.row.profile-row span {
    font-size: 14px;
    line-height: 16px;
}

div.row.profile-row span.num {
    color: var(--font-black);
    font-weight: 700;
}

div.row.profile-row span.label {
    margin-right: 20px;
}


/* tweet */

div.row.tweet-row {
    padding: 12px 16px;
    border-bottom: solid 1px var(--border-gray);
}

div.row.tweet-row:first-of-type {
    border-top: solid 1px var(--border-gray);
}

div.row.tweet-row:last-of-type,
div.row.tweet-row[next-tweet-id^="tweet"] {
    border-bottom: none;
}

div.row.tweet-row .flex-container {
    display: flex;
}

div.row.tweet-row div.left-container {
    width: 48px;
    margin-right: 12px;
    flex: 0 0 48px;
}

div.row.tweet-row div.right-container {
    width: calc(100% - 48px);
}


/* tweet-header */

div.row.tweet-row .tweet-header {
    margin: -4px 0 4px 0;
}

div.row.tweet-row .tweet-header div.left-container {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

div.row.tweet-row .tweet-header div.left-container svg {
    font-size: 13px;
    fill: var(--font-gray);
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
}

div.row.tweet-row .tweet-header div.right-container span {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}


/* tweet-body: avatar */

div.row.tweet-row .tweet-body div.left-container .image-container {
    width: 48px;
    height: 48px;
}

div.row.tweet-row .tweet-body div.left-container .tweet-link-line {
    width: 2px;
    height: calc(100% - 48px + 12px);
    background-color: var(--tweet-link-line-gray);
    margin: 0 23px;
    position: relative;
    top: 6px;
}

div.row.tweet-row[next-tweet-id="0"] .tweet-body div.left-container .tweet-link-line {
    display: none;
}

div.row.tweet-row .tweet-body div.left-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* tweet-body: author-row */

div.row.tweet-row .tweet-body div.right-container div.author-row>* {
    line-height: 20px;
}

.author-name {
    font-weight: 700;
    color: var(--font-black);
}

.verified-container {
    width: 1.25em;
    height: 1.25em;
    display: none;
}

.verified-container.verified {
    display: inline;
}

.verified-container svg {
    width: 1.25em;
    height: 1.25em;
    line-height: 12px;
    vertical-align: text-bottom;
    position: relative;
    fill: var(--link-blue);
}

.author-screen-name {
    color: var(--font-gray);
}

.author-screen-name:hover {
    text-decoration: var(--link-blue) underline 1px;
}


/* tweet-body: text-row */

div.row.tweet-row .tweet-body div.right-container div.text-row {
    white-space: pre-line;
    line-height: 20px;
    color: var(--font-black);
    margin-top: 2px;
}


/* tweet-body: card-row card-box */

div.row.tweet-row .card-row {
    margin-right: 12px;
}

div.row.tweet-row .card-row .card-box {
    border-radius: 16px;
    border: 1px solid var(--tweet-link-line-gray);
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    height: 130px;
    max-width: 550px;
    margin-top: 12px;
    text-decoration: unset;
}

div.row.tweet-row .card-row .card-box-left {
    flex: 0 0 130px;
    width: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.row.tweet-row .card-row .card-box-left img {
    width: 130px;
    height: 130px;
    opacity: 0;
}

div.row.tweet-row .card-row .card-box-right .card-text-container {
    margin: 0;
    padding: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 2px;
}

div.row.tweet-row .card-row .card-box-right .card-text-container span {
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    max-height: 20px;
    /* webkit */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

div.row.tweet-row .card-row .card-box-right .card-text-container span.card-title {
    color: var(--font-black);
    width: fit-content;
    position: relative;
}

div.row.tweet-row .card-row .card-box:hover .card-text-container span.card-title::after {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    display: inline-block;
    background-color: rgb(29, 155, 240);
}

div.row.tweet-row .card-row .card-box-right .card-text-container span.card-description {
    max-height: 40px;
    -webkit-line-clamp: 2;
}

div.row.tweet-row .card-row .card-box-right .card-text-container span.card-description[data-description="0"] {
    display: none;
}

div.row.tweet-row .card-row .card-box:hover span.card-title {
    text-decoration: solid 1px var(--link-blue);
}


/* tweet-body: card-row tweet-card-box */

div.row.tweet-row .tweet-card-box {
    max-width: 550px;
    margin-top: 12px;
    display: block;
    border-radius: 16px;
    border: 1px solid var(--poll-gray-background);
    overflow: hidden;
}

div.row.tweet-row .tweet-card-box .tweet-card-author-row {
    margin: 12px 12px 0 12px;
    display: flex;
    justify-content: left;
}

div.row.tweet-row .tweet-card-box .tweet-card-author-row>span {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    display: block;
    margin-right: 4px;
}

div.row.tweet-row .tweet-card-box .tweet-card-author-row>span.verified-container {
    display: none;
}

div.row.tweet-row .tweet-card-box .tweet-card-author-row .author-avatar {
    width: 20px;
    height: 20px;
}

div.row.tweet-row .tweet-card-box .tweet-card-author-row .author-avatar img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

div.row.tweet-row .tweet-card-box .tweet-card-text-row {
    margin: 0 12px 12px 12px;
    white-space: pre-line;
    color: var(--font-black);
    font-size: 15px;
    line-height: 20px;
}

div.row.tweet-row .tweet-card-box .tweet-card-video-container .video-box {
    border-radius: 0;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container .photo-box {
    min-height: 130px;
    max-height: 160px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-1 .photo-box img {
    max-width: 550px;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-1 .photo-box {
    max-width: 550px;
    max-height: 300px;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-3 {
    display: grid;
    grid-template-columns: 50% 50%;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-3 .photo-box {
    width: 100%;
}

div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-3 .photo-box:first-of-type {
    grid-area: 1 / 1 / span 2 / span 1;
    min-height: 260px;
    max-height: 320px;
}

@media screen and (max-width: 768px) {
    div.row.tweet-row .tweet-card-box .tweet-card-photo-container .photo-box {
        min-height: 100px;
        max-height: 120px;
    }
    div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-1 .photo-box {
        max-height: 200px;
    }
    div.row.tweet-row .tweet-card-box .tweet-card-photo-container.photo-count-3 .photo-box:first-of-type {
        min-height: 200px;
        max-height: 240px;
    }
}


/* tweet-body: poll-row */

div.row.tweet-row .tweet-body div.right-container div.poll-row {
    margin-top: 12px;
    width: calc(100% - 40px);
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    div.row.tweet-row .tweet-body div.right-container div.poll-row {
        width: 100%;
    }
}

div.row.tweet-row .tweet-body div.right-container div.poll-row span {
    line-height: 20px;
    color: var(--font-black);
    font-weight: 400;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-footer span {
    color: var(--font-gray);
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li[sort-index="0"] span {
    font-weight: 700;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li:nth-of-type(1n + 2) {
    margin-top: 4px;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li>* {
    width: fit-content;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li .poll-li-background {
    min-height: 32px;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--poll-gray-background);
    border-radius: 4px;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li .poll-li-label {
    padding: 0 12px;
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-li[sort-index="0"] .poll-li-background {
    background-color: var(--poll-blue-background);
}

div.row.tweet-row .tweet-body div.right-container div.poll-row .poll-footer {
    margin-top: 12px;
}


/* tweet-body: media-row-photo */

div.row.tweet-row .tweet-body div.right-container div.media-row>* {
    margin-top: 12px;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container {
    border-radius: 16px;
    border: 1px solid var(--border-gray);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: calc(100% - 40px);
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container .photo-box {
    width: 50%;
    min-height: 300px;
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container .photo-box img {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-0 {
    display: none;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-1 {
    height: 100%;
    max-width: 600px;
    width: fit-content;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-1 .photo-box {
    width: fit-content;
    height: 100%;
    min-height: unset;
    background: none !important;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-1 .photo-box img {
    max-width: 500px;
    max-height: 500px;
    opacity: 1 !important;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-3 {
    display: grid;
    grid-template-columns: 50% 50%;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-3 .photo-box {
    width: 100%;
    min-height: 250px;
    max-height: 500px;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-3 .photo-box:first-of-type {
    grid-area: 1 / 1 / span 2 / span 1;
    min-height: 500px;
    max-height: 1000px;
}

@media screen and (max-width: 768px) {
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container {
        width: 100%;
        max-width: 550px;
    }
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container .photo-box {
        min-height: 180px;
        max-width: 360px;
    }
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-3 .photo-box {
        min-height: 160px;
        max-height: 200px;
    }
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-3 .photo-box:first-of-type {
        min-height: 320px;
        max-height: 400px;
    }
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-1 {
        max-width: calc(100% - 50px);
    }
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-1 .photo-box,
    div.row.tweet-row .tweet-body div.right-container div.media-row .media-photos-container.photo-count-1 .photo-box img {
        max-height: 400px;
        max-width: 100%;
    }
}


/* tweet-body: media-row-video */

div.row.tweet-row .tweet-body div.right-container div.media-row .video-box,
div.row.tweet-row .tweet-body div.right-container div.media-row .video-box .video-player,
div.row.tweet-row .tweet-body div.right-container div.media-row .video-box video {
    max-height: 500px;
    max-width: 600px;
    background-color: black;
}

.video-box .video-control {
    margin: 0;
}

.video-box .video-views,
.video-box span {
    font-family: TwitterChirp;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: white;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .video-from-footer {
    margin-top: 4px;
    border: none;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .video-from-footer[data-href="0"] {
    display: none;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .video-from-footer>* {
    font-size: 13px;
    line-height: 16px;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .video-from-footer a {
    color: var(--font-black);
    font-weight: 700;
}

div.row.tweet-row .tweet-body div.right-container div.media-row .video-from-footer a:hover {
    text-decoration: underline var(--link-blue) 1px;
}


/* tweet-body: footer-row */

div.row.tweet-row .tweet-body div.right-container div.footer-row {
    display: flex;
    align-items: stretch;
    height: 20px;
    margin-top: 12px;
    column-gap: 8px;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
}

div.row.tweet-row .tweet-body div.right-container div.footer-row .footer-elem {
    display: flex;
    cursor: pointer;
}

div.row.tweet-row .tweet-body div.right-container div.footer-row .footer-elem[title="comment-count"]:hover>* {
    color: var(--hover-blue);
    fill: var(--hover-blue);
}

div.row.tweet-row .tweet-body div.right-container div.footer-row .footer-elem[title="retweet-count"]:hover>* {
    color: var(--hover-green);
    fill: var(--hover-green);
}

div.row.tweet-row .tweet-body div.right-container div.footer-row .footer-elem[title="like-count"]:hover>* {
    color: var(--hover-red);
    fill: var(--hover-red);
}

div.row.tweet-row .tweet-body div.right-container div.footer-row svg {
    width: 1.25em;
    height: 1.25em;
    line-height: 20px;
    vertical-align: text-bottom;
    position: relative;
    fill: var(--font-gray);
}

div.row.tweet-row .tweet-body div.right-container div.footer-row span {
    font-size: 13px;
    line-height: 20px;
    min-width: calc(1em + 24px);
    padding: 0 12px;
}


/* row: loading */

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

div.row.loading-row {
    margin: 32px auto;
    display: none;
}

div.row.loading-row .loading-svg-container {
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

div.row.loading-row svg {
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}


/* row: no-more-top */

div.row.no-more-tip-row {
    border: none;
    position: relative;
    top: 48px;
    display: none;
}

div.row.no-more-tip-row .tip-container {
    width: fit-content;
    margin: 0 auto;
}

div.row.no-more-tip-row .tip-container span {
    font-size: 12px;
    line-height: 12px;
    opacity: 0.5;
}


/* 照片查看 */

.viewer-backdrop {
    background-color: rgb(0 0 0 / 70%);
}